<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Project Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<head th:replace="fragments/header :: header">
</head><body>
	<div class="container">

		<div class="jumbotron text-center" style="margin-bottom: 0">
			<h1>Project Management</h1>
		</div>

		<div th:replace="fragments/navBar :: navBar" />
		<br> <br>
		<h3>Project List</h3>
			<a class="btn btn-primary" th:href="@{/projectadd}"> Add Project</a>
		<br> <br> <br>
	
	<form th:action="@{/projectlist}">
    Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
    &nbsp;
    <input type="submit" value="Search" />
    &nbsp;
    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
</form>
	<br>
	<br>
	<br>

		
		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Project name</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Status</th>				
				<th>Action</th>
	
			</tr>

			<tr th:each="project: ${projects}">
				<td th:text="${project.id}"></td>
				<td th:text="${project.name}"></td>
				<td th:text="${#temporals.format(project.startDate, 'yyyy-MM-dd')}"></td>
				<td th:text="${#temporals.format(project.endDate, 'yyyy-MM-dd')}"></td>
				<td th:text="${project.status}"></td>
				<!--<td	th:text="${project.projectManager.firstName} + ' ' + ${project.projectManager.lastName}"></td>
				<td th:text="${project.projectManager.department}"></td>				
				<td th:text="${project.budget}"></td>-->
				
		
              
              <td>
                  <a th:href="@{/project/{id}(id = ${project.id})}" class=".btn-default"> Show Details</a>
              </td>
				
			

			</tr>
		</table>
		
		 	<!--<td>
                  <a th:href="@{/owners/__${owner.id}__}" th:text="${owner.firstName + ' ' + owner.lastName}"/></a>
              </td>  -->

		<br>


		<div th:replace="fragments/footer :: footer" />
	</div>
	
	
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/projectlist}]]";
    }
</script>	
</body>
</html>
