<!DOCTYPEhtml>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Project Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body style="margin: 15px;">
	<h1>Project Management</h1>

	<ul>		
		<li><a href="/projectlist">Show All Projects</a></li>
		<li><a href="/projectadd">Add Project</a></li>
		<li><a href="/employeelist">Show All Employees</a></li>
		<li><a href="/employeeadd">Add Employee</a></li>
	</ul>


</body>
</html>