<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Project Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head th:replace="fragments/header :: header">
</head>

<body style="margin: 15px;">
	<div class="container">
		<div class="jumbotron text-center" style="margin-bottom: 0">
			<h1>Project Management</h1>

		</div>

		<h3>Sign-up</h3>

		<div class="col-md-4">
			<form th:object="${signupform}" th:action="@{/saveuser}" action="#" method="post">
				<div>
					<label> Username :<input type="text" th:field="*{username}" class="form-control" /></label>
					<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
				</div>
				<div>
					<label> Password :<input type="password"
						th:field="*{password}" class="form-control" /></label>
					<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
				</div>
				<div>
					<label> Re-type Password: <input type="password"
						th:field="*{passwordCheck}" class="form-control" /></label>
					<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match Error</p>
				</div>
				<div>
					<label> Email :<input type="email"
						th:field="*{email}" class="form-control" /></label>
					<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>
				</div>
			

				<input type="submit" class="btn btn-primary" value="Signup"></input>
			</form>

		</div>
	</div>
	</div>
	<div th:replace="fragments/footer :: footer" />
	</div>
</body>
</html>