<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Project Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head th:replace="fragments/header :: header">
</head>

<body>
<div class="container">
		<div th:replace="fragments/title :: title" />

<div class="form-group">
	<form  class="form-horizontal" action="#" th:action="@{/employeesubmit}" th:object="${employee}"
		method="post">
		
		<label for="firstname" class="control-label col-sm-2">First Name</label> 
		<input type="text" id="name" th:field="*{firstName}" class="form-control" /><br> 
		
		<label for="lastname" class="control-label col-sm-2">Last Name</label> 
		<input type="text" id="name" th:field="*{lastName}" class="form-control" /><br> 
			
				
		<label for="department" class="control-label col-sm-2">Department</label>
		<select id ="department" th:field=*{department} class="form-control">
			<option th:each="department: ${T(haagahelia.fi.ProjectManagement.model.Department).values()}" th:value="${department}" th:text="${department}"></option>
		</select> <br>
		
		<label th:for="email" class="control-label col-sm-2">Email</label> 
		<input type="text" th:field="*{email}" class="form-control" /><br> 
		
		<label th:for="phone" class="control-label col-sm-2">Phone</label> 
		<input type="text" th:field="*{phone}" class="form-control" /><br> 
		

		
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<input type ="submit" class="btn btn-success" value="Submit"/>
		<button  class="btn btn-danger">Cancel</button>
 	</form>
 	</div>
 		<div th:replace="fragments/footer :: footer" />
 	</div>
 	
 
</body>
</html>