<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Project Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head th:replace="fragments/header :: header">
</head>

<body>
	<div class="container">

		<div class="jumbotron text-center" style="margin-bottom: 0">
			<h1>Project Management</h1>
		</div>

		<div th:replace="fragments/navBar :: navBar" />
		<br> <br>
		<h3>Project Manager List</h3>
	
		<a class="btn btn-primary" th:href="@{/employeeadd}"> Add PM</a>
		<br> <br> <br>
		
		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>Department</th>
				<th>Action</th>		
			</tr>

			<tr th:each="employee: ${employees}">	
				<td th:text="${employee.firstName} + ' ' + ${employee.lastName}"></td>
				<td th:text="${employee.department}"></td>
				<td>
				      <a th:href="@{/employee/__${employee.id}__}" class="btn btn-default"> Show Details</a> 
              </td>
			</tr>
		</table>

		<br>
		<div th:replace="fragments/footer :: footer" />
	</div>
</body>
</html>
