<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Project Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head th:replace="fragments/header :: header">
</head>

<body>
	<div class="container">

		<div class="jumbotron text-center" style="margin-bottom: 0">
			<h1>Project Management</h1>
		</div>

		<div th:replace="fragments/navBar :: navBar" />
		<br> <br>
		<h3>Employee List</h3>
		<ul>
			<li><a href="/employeeadd"> Add Employee</a></li>
		</ul>
		<br>
		<table class="table table-striped">
			<tr>
				<th>Employee ID</th>
				<th>Name</th>
				<th>Title</th>
				<th>Department</th>
				<th>Edit</th>
				<th>Delete</th>


			</tr>

			<tr th:each="employee: ${employees}">
				<td th:text="${employee.id}"></td>
				<td th:text="${employee.firstName} + ' ' + ${employee.lastName}"></td>
				<td th:text="${employee.title}"></td>
				<td th:text="${employee.department.name}"></td>


				<td><a th:href="@{/employeeedit/{id}(id = ${employee.id})}"
					class="btn btn-warning">Edit</a></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a
					th:href="@{/employeedelete/{id}(id = ${employee.id})}"
					class="btn btn-danger">Delete</a></td>

			</tr>
		</table>

		<br>
		<div th:replace="fragments/footer :: footer" />
	</div>
</body>
</html>
