<!DOCTYPEhtml>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Project Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body style="margin: 15px;">
	<h1>Project Management</h1>
	<!--  <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>

	<div class="col-md-4" style="padding: 20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
		</form>
	</div>
	<ul>
		<li><a href="/add">Add book</a></li>
		<li><a href="/list">Show book list</a></li>
	</ul>
-->

</body>
</html>