<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Project Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head th:replace="fragments/header :: header">
</head>

<body>
<div class="container">
		<div class="jumbotron text-center" style="margin-bottom: 0">
			<h1>Project Management</h1>
		</div>

<div class="form-group">
	<form  class="form-horizontal" action="#" th:action="@{/departmentsubmit}" th:object="${department}"
		method="post">
		
		<label for="name" class="control-label col-sm-2">Name</label> 
		<input type="text" id="name" th:field="*{name}" class="form-control" /><br> 
		

		
		<!-- <label for="email" class="control-label col-sm-2">Email</label> 
		<input type="text" id="email" th:field="*{contact.email}" class="form-control" /><br> 
		
		<label for="phone" class="control-label col-sm-2">Phone</label> 
		<input type="text" id="phone" th:field="*{contact.phone}" class="form-control" /><br> 
		
		 <label for="handlingDepartment" class="control-label col-sm-2">Handling Department</label>
		<select id ="handlingDepartment" th:field=*{handlingDepartment} class="form-control">
			<option th:each="department: ${departments}" th:value="${department.id}" th:text="${department.name}"></option>
		</select> <br>-->
		
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<input type ="submit" class="btn btn-success" value="Submit"/>
		<button  class="btn btn-danger">Cancel</button>
 	</form>
 	</div>
 		<div th:replace="fragments/footer :: footer" />
 	</div>
 	
 
</body>
</html>