<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Project Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div th:replace="fragments/title :: title" />
		<div th:replace="fragments/navBar :: navBar" />
		<br> <br>
		<h3 th:object="${projectId}"
			th:text="'Project Id(' + ${projectId} + ')_Expenditure History'"></h3>
			
			
		<!-- Add New Expenditure for pending project -->
		<a th:object="${projectId}" th:href="@{/expenditureadd/__${projectId}__}" class="btn btn-primary"> Add Expenditure</a>
			
		<br> <br> <br>

		<!-- List of Expenditures for pending project-->
		<table class="table table-striped">
			<tr>
				<th>Expenditure Id</th>
				<th>Amount (EUR)</th>
				<th>Description</th>
				
			</tr>

			<tr th:each="expenditure: ${expenditures}">
				<td th:text="*{expenditure.id}"></td>
				<td th:text="*{expenditure.cost}"></td>
				<td th:text="*{expenditure.description}">			
					
			</tr>

		</table>
		

		
	
		<div class="text-right" >
			<!-- Add reference files for pending expenditure -->
			<a th:href="@{/file}" class="btn btn-info"> Reference File Management</a>
			<br>
			<a th:object="${projectId}" th:href="@{/project/__${projectId}__}" class="btn-default"> Back to Project Information</a>
		</div>
	




		<br>
		<div th:replace="fragments/footer :: footer" />


	</div>


</body>
</html>
