<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Project Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div th:replace="fragments/title :: title" />
		<div th:replace="fragments/navBar :: navBar" />
		<br> <br>
		<h3 th:object="${projectId}"
			th:text="'Project Id(' + ${projectId} + ')_Expenditure History'"></h3>

		<br> <br> <br>


		<table class="table table-striped">
			<tr>
				<th>Amount (EUR)</th>
				<th>Description</th>
				<th>Reference Documents</th>
				
			</tr>

			<tr th:each="expenditure: ${expenditures}">
				<td th:text="*{expenditure.cost}"></td>
				<td th:text="*{expenditure.description}">
				<td> <a th:object="${projectId}" th:href="@{/file/__${projectId}__/__${expenditure.id}__}"> Upload </a>  &nbsp; &nbsp;
					 <!--  <a th:object="${projectId}" th:href="@{'/downloadfile/'+${expenditureDocs.id}}">Download </a> -->
				</td>
			</tr>

		</table>
		


		<div class="text-right" th:object="${projectId}">
			<a th:href="@{/expenditureadd/__${projectId}__}" class="btn btn-info"> Add Expenditure</a>
			<a th:href="@{/project/__${projectId}__}" class="btn btn-info"> Back to Project Information</a>
		</div>




		<br>
		<div th:replace="fragments/footer :: footer" />


	</div>


</body>
</html>
