<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Project Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">

		<div class="jumbotron text-center" style="margin-bottom: 0">
			<h1>Project Management</h1>
			
		</div>

		<div th:replace="fragments/navBar :: navBar" />
		<br> <br>
		<h3>Expenditure Information</h3>
		
		<br> <br> <br>
	      
      
		<table class="table table-striped">
				<tr>
				<th> Project Id </th>
				<th> Project Name </th>
				<th> Amount </th>
				<th> Description </th>
				</tr>
				
			<tr th:each ="expenditure: ${expenditure}">	
				<td th:text="*{expenditure.project.id}"></td>
				<td th:text="*{expenditure.project.name}"></td>
				<td th:text="*{expenditure.project.status}"></td>
				<td th:text="*{expenditure.project.budget}">
			</tr>
				
			
			</table>
			
			<div class="text-right">
			
				<a th:href="@{/expenditureform/__${expenditure.project.id}__}" class="btn btn-info"> Add Expenditure</a>			 
				<a th:href="@{/projectedit/{id}(id = ${expenditure.project.id})}" class="btn btn-warning">Edit</a>
				<!--<td sec:authorize="hasAuthority('ADMIN')">-->
				<a th:href="@{/projectdelete/{id}(id = ${expenditure.project.id})}" class="btn btn-danger">Delete</a>					
			</div>	
			
			
			
				
		

		<br>
			<div th:replace="fragments/footer :: footer" />
			
	
	</div>
	

</body>
</html>
