<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments.html :: head">

<body>
<div th:replace="fragments.html :: navBar" > </div>

	<div class="container">
		<div class="py-5 text-center">
			<h3>Sign in to Project Management</h3>
		</div>	
	
		<div class="row justify-content-md-center">	
		 <form class ="needs-validation col-sm-6" action ="#" th:action="@{/login}" method="post" novalidate>	
		 
			<div th:if="${param.error}">
				<div class="alert alert-danger">Invalid username or password.</div>
				<small> Please retry or use <a href="#" th:href="@{/find-password}">Forgot Password</a>  </small>
			</div>	
						
			<div class="form-group">
				<label for="username">Username or email address</label>
		    	<input id ="username" type="text" name="username" class="form-control" aria-describedby="emailHelp" required>
		    	<small id ="emailHelp" class="form-text text-muted">
		    			You can sign in to project management with username or email address.
		    	</small>
		    		
		    	<small class="invalid-feedback">Please enter username or email address.</small>
		    	
		    </div>
		    	
		    <div class ="form-group">
		    	<label for="password">Password</label>
		    	<input id ="password" type="password" name="password" class="form-control" aria-describedby="passwordHelp" required>
		    	<small id ="passwordHelp" class="form-text text-muted">
		    			If you don't remember password, <a href="#" th:href="@{/emaillogin}">Login without Password</a>
		    	</small>
		    		
		    	<small class="invalid-feedback">Please enter password.</small>
		    </div>
		    	
		    <div class="form-group form-check">
		    	<input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me" checked>
		    	<label class="form-check-label" for="rememberMe" aria-describedby="rememberMeHelp">Remember Me</label>
		    </div>
				
				
			<div class="form-group">
		    	<button class="btn btn-success btn-block" type="submit" aria-describedby="submitHelp">Sign in</button>
		    	<small id="submitHelp" class="form-text text muted">
		    			Not yet registered? <a href="#" th:href="@{/signup}">Create new account</a>
		    	</small> 		    	
		    </div>				
		</form>						
	</div>	
</div>

		
	<br>
	
<div th:replace="fragments.html :: footer" />
	
<script th:replace="fragments.html :: form-validation"></script>
</body>
</html>